.box {
  display: flex;
  gap: 30px;
}

.box-item {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
